@import "../../style/variables.scss";

.timetable {
  &__module {
    display: grid;
    width: 870px;
    height: 100%;
    grid-template-rows: 60px 1fr;
    row-gap: 10px;
    border-radius: 30px;
    background-color: #5a4444;
    filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.5));
    &-name {
      font-weight: bold;
      font-size: 22px;
      line-height: 29px;
      text-transform: uppercase;
    }
    .skeleton {
      margin-top: 30px;
    }
  }
  &__hourly {
    text-align: center;
    &-name {
      margin-top: 5px;
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 48px;
    }
  }
  &__info {
    display: grid;
    margin: 0 80px 0 80px;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 270px;
    grid-gap: 10px;
  }
  &__block {
    background: #373636;
    border-radius: 40px;
    &-time {
      margin-top: 10px;
      text-align: center;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
    }
    &-photo {
      text-align: center;
    }
    &-celsius {
      text-align: center;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
    }
    &-navigation {
      img {
        margin-left: 22px;
      }
    }
    &-speed {
      text-align: center;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
    }
  }
}

@media (max-width: 1700px) {
  .timetable {
    &__module {
      width: 100%;
      padding: 0 20px;
    }
  }
}

@media (max-width: 1500px) {
  .timetable {
    &__block-time {
      margin-top: 15px;
    }
    &__info {
      margin: 0 auto;
      grid-template-columns: repeat(5, minmax(80px, 200px));
    }
    &__block-navigation img {
      margin-left: 0;
    }
    &__block-speed {
      font-size: 16px;
      line-height: 10px;
    }
  }
}
@media (max-width: 1199px) {
  .timetable {
    &__module {
      width: 700px;
    }
    &__info {
      //   padding: 0 auto;
      margin: 0 5px;
    }
  }
}
@media (max-width: 991px) {
  .timetable {
    &__module {
      width: 590px;
      margin: 10px auto;
    }
    &__info {
      margin: 0;
    }
    &__block-speed {
      font-weight: 500;
      font-size: 17px;
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .timetable {
    &__module {
      width: auto;
    }
    &__block {
      border-radius: 25px;
    }
    &__block-speed {
      font-weight: 500;
      font-size: 14px;
    }
  }
}
@media (max-width: 575px) {
  .timetable {
    &__module {
      width: 100%;
      padding: 0px 35px;
      grid-row-gap: 35px;
    }
    &__info {
      grid-template-columns: auto;
    }
    &__hourly {
      &-name {
        font-size: 26px;
        font-weight: 600;
      }
    }
    &__block {
      text-align: center;
    }
  }
}
